<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>678762174891-k8cldls87pd0con580e9on49mr4pg6s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678762174891-k8cldls87pd0con580e9on49mr4pg6s6</string>
	<key>API_KEY</key>
	<string>AIzaSyDKAQ5e9l3smDPiKFhRDUCp3h7VhLMYXTI</string>
	<key>GCM_SENDER_ID</key>
	<string>678762174891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JinTonic.AirbnbProject</string>
	<key>PROJECT_ID</key>
	<string>airbnbcopyproject</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnbcopyproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678762174891:ios:b8511ec179fa2c45</string>
	<key>DATABASE_URL</key>
	<string>https://airbnbcopyproject.firebaseio.com</string>
</dict>
</plist>